<%- include('./partials/header.ejs') %>


<div class="container mt-5">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Home</h1>
        </div>
    </section>
</div>

<%- include('./partials/footer.ejs') %>