
<%- include('./partials/header.ejs') %>


contacts
<% if (contacts.length){ %>
    <% contacts.forEach((item, i) => { %>
        <h3><%= item.name %></h3>
    <% }) %>
<% } %>
<%- include('./partials/footer.ejs') %>